<footer
  class="border-t py-5 px-3 text-center text-sm font-medium text-gray-500"
>
  <div class="container mx-auto flex justify-between">
    <p>&copy; GoGamify 2022</p>
    <p>v0.3.0</p>
  </div>
</footer>
