<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat
        esse natus dolor quia, nobis maxime illum. Eum dolore totam in! Quaerat
        eius dicta placeat cupiditate ipsum suscipit? Amet, voluptatibus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat
        esse natus dolor quia, nobis maxime illum. Eum dolore totam in! Quaerat
        eius dicta placeat cupiditate ipsum suscipit? Amet, voluptatibus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat
        esse natus dolor quia, nobis maxime illum. Eum dolore totam in! Quaerat
        eius dicta placeat cupiditate ipsum suscipit? Amet, voluptatibus?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
