<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div
      class="mx-auto flex h-screen w-screen max-w-2xl flex-col items-center justify-center gap-5"
    >
      <h1 class="text-3xl font-bold text-gray-900">
        GoGamify: Gamification Web Platform
      </h1>
      <p>This development of this project is currently in-progress.</p>
      <p class="text-center text-sm">
        A gamification web platform where teachers can easily transform their
        learning materials, exams, and resources into an interactive progressive
        web app with gamified elements. The resulting web app will allow
        students to engage in learning in a fun way---interactively tracking
        their learning journeys, completing reading tasks, answering quizzes,
        acquiring virtual skill trees, earning virtual achievements badges, and
        sharing their progress with fellow students.
      </p>
      <a class="btn" href="/gamify">Continue to Web Platform ></a>
    </div>
  </body>
</html>
