@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* See tailwindcss documentation to know differences between layers and directives */
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply mb-4 text-2xl font-bold text-violet-700;
  }
  p {
    @apply text-justify leading-6;
  }
  body {
    @apply bg-white font-poppins text-gray-900 antialiased;
  }

  /* Mammoth JS */

  table {
    @apply w-fit scale-x-95;
  }
}

@layer components {
  .section {
    @apply w-full rounded-lg border  bg-white px-8 py-8 shadow-sm;
  }

  .btn {
    @apply mt-2 transform-gpu rounded-full bg-violet-100 py-2 px-8 font-semibold text-violet-800 shadow-sm ring-offset-4 transition-all duration-150 hover:scale-105 hover:bg-violet-200
  hover:shadow-lg focus:ring-4 focus:ring-violet-400 active:bg-violet-400 active:text-white;
  }

  .btn--primary {
    @apply btn bg-violet-700 text-white ring-offset-4 hover:scale-105 hover:bg-violet-500
   focus:ring-4 focus:ring-violet-600 active:bg-violet-600;
  }

  .btn--nav {
    @apply btn bg-white px-3 text-gray-600 shadow-none ease-out hover:bg-violet-100 hover:text-violet-800 hover:shadow-sm
  focus:bg-violet-400  focus:text-white focus:ring-transparent active:ring-transparent;
  }

  .icon--nav {
    @apply mr-4 inline-block h-10 w-10 transform-gpu px-2 duration-500 group-hover:rounded-full group-hover:bg-violet-200 group-hover:stroke-violet-600;
  }

  /* File Upload */

  .drag--active {
    @apply bg-violet-300;
  }
}
