<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <nav class="mb-10 h-20 border-b"></nav>
    <div class="section flex flex-col items-center justify-center">
      <div
        class="border-5 border-1 w-full rounded-lg border-black bg-white p-10 shadow-sm"
      >
        <h2 class="mb-5 text-center text-3xl">Start gamifying by</h2>
        <div
          id="dropArea"
          class="mx-auto flex h-48 w-full flex-col items-center justify-center rounded-xl border-2 border-dashed border-violet-700 bg-gray-50 p-5 text-center"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-16 w-16 transform-gpu animate-bounce rounded-xl fill-violet-700 p-2"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"
              />
              <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
            </svg>
          </span>
          <h2 id="dropAreaText">Drag and Drop to Upload File</h2>
          <p class="text-sm">OR</p>
          <button id="browseBtn" class="btn">Browse File</button>
          <input hidden type="file" name="file-upload" id="browseInput" />
        </div>
      </div>
      <div>
        <button id="gamifyBtn" class="btn">Gamify</button>
      </div>

      <div class="w-full">
        <div>
          <div>
            <h2 class="text-3xl">Content Area</h2>
          </div>
          <div class="w-full bg-white p-5">
            <textarea
              class="w-full"
              name="content"
              id="resultText"
              cols="20"
              rows="10"
            >
Content Area</textarea
            >
          </div>
        </div>
      </div>

      <div>
        <div id="contentArea" contenteditable=""></div>
      </div>
    </div>
    <div class="mt-10 h-40 py-20"></div>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="/js/gamify/create.js"></script>
  </body>
</html>
