<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="flex h-screen w-screen flex-col items-center justify-center">
      <h1
        class="my-3 mb-5 from-violet-700 to-purple-400 text-6xl font-bold text-gray-900"
      >
        Gamify Learning
      </h1>
      <a class="btn" href="gamify/create">Start gamifying</a>
      <div class="blogs content">
        <h2>All Resources</h2>

        <% if (resources.length > 0) { %> <% resources.forEach(resource => { %>

        <a class="single" href="/blogs/<%= resource._id %>">
          <h3 class="title"><%= resource.title%></h3>
          <p class="snippet"><%= resource.subtitle %></p>
        </a>
        <% }) %> <% } else { %>
        <p>No blogs created yet.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
