<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="flex h-screen w-screen flex-col items-center justify-center">
      <h1 class="text-3xl">Gamify Learning</h1>
      <a href="gamify/create">Start gamifying</a>
    </div>
  </body>
</html>
