<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="flex h-screen w-screen flex-col items-center justify-center">
      <h1
        class="my-3 mb-5 from-violet-700 to-purple-400 text-6xl font-bold text-gray-900"
      >
        Gamify Learning
      </h1>
      <a class="btn-cta" href="gamify/create">Start gamifying</a>
    </div>
  </body>
</html>
